[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/user/Desktop/Among Us.desktop]
row=7
col=0

[/home/user/Desktop/Portal 2.desktop]
row=4
col=1

[/home/user/Desktop/Quaver.desktop]
row=0
col=1

[/home/user/Desktop/iTunes.desktop]
row=2
col=1

[/home/user/Desktop/net.lutris.minecraft-launcher-1.desktop]
row=1
col=1

[/home/user/Desktop/Brawlhalla.desktop]
row=8
col=0

[/home/user/Desktop/steam.desktop]
row=5
col=1

[/home/user/Desktop/LabyMod-3_1.8.9.jar]
row=6
col=0

[/home/user/Desktop/iTunes.lnk]
row=3
col=1

[74E944191EE967BA]
row=2
col=0

[fc5f6861-25e3-4be9-8fbb-a87bae7bc891]
row=1
col=0

[226B888B49B753C3]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/user]
row=5
col=0

